body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.header {
  padding: 20px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.btn {
  background: #0088cc;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn.secondary {
  background: #777;
}

.channels {
  padding: 20px;
  display: grid;
  gap: 20px;
}

.channel {
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.qr {
  width: 200px;
  display: block;
  margin: 20px auto;
}

/* Mpdal styles */
.modal {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.4);
}

.modal.hidden {
  display: none;
}

.modal-content {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
}


/* Responsive grid */
@media (min-width: 768px) {
  .channels {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .channels {
    grid-template-columns: repeat(3, 1fr);
  }
}
